.chatlistbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgb(8, 8, 20);
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners of the thumb */
}

.chat-set {
  display: flex;
  align-items: center;
  gap: 14px;
  color: white;
  cursor: pointer;
  border: 1px solid rgba(129, 125, 125, 0.3);
  border-radius: 10px;
  width: 96%;
  height: 70px;

  &:hover {
    background-color: #201f33;
  }

  .im1 {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 5px;
  }
  .userChatInfo {
    span {
      font-size: 18px;
      font-weight: 500;
    }
    .chat-name {
      font-size: 16px;
      color: rgb(227, 221, 221);
      margin-bottom: 3px;
    }
    .last-text {
      font-size: 12px;
      color: rgb(194, 189, 189);
    }
  }
}
