ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.blue-line {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(28, 26, 35);
  padding-left: 17px;
  padding-right: 17px;
}

@media only screen and (max-width: 768px) {
      .blue-line {
        display: none;
      }
    }
i {
  font-size: 22px;
  color: rgb(212, 211, 211);
}

.nav-line-upper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: row;
}
