@media only screen and (max-width: 480px) {

  .chat-section {
    display: none;
  }
  .blue-line {
    display: none;
  }
  .bars {
    display: block;
  }
  
}

@media only screen and (max-width: 768px) {
  
}

@media only screen and (max-width: 1200px) {
}
