.sidebar-chat {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: rgb(8, 8, 20);
  color: white;
  height: 100vh;
  padding: 0px 0px;
  margin: 0px 0px;

}

.chats {
  padding-top: 16px;
  padding-left: 25px;
  font-size: 24px;
}

.input {
  margin-top: 12px;
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  padding-left: 25px;
  padding-right: 20px;
}

.input-bar {
  width: 76%;
  border: 1px solid #ccc;
  border-radius: 35px;
  font-size: 16px;
  background-image: url("/images/searchicon.webp");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  background-size: 20px 20px;
  outline: none;
}

.bars {
  /* display: none; */
  font-size: 23px;
  padding-top: 16px;
  padding-right: 30px;
  cursor: pointer;
  position: relative;
}

.side-header {
  display: flex;
  justify-content: space-between;
}

.header-side{
  background-color: rgb(42, 42, 43);
  height: 140px;
}

.toggle:hover {
  cursor: pointer;
}

.top-toggle {
  position: absolute;
  left: 260px;
  top: 50px;
  z-index: 1;
}



@media only screen and (min-width: 768px) {
  .bars {
      display: none;
    }  
  }