.sidebar-chat{
    background-color: rgb(8, 8, 20);
    color: white;
    width: 26%;
}

.chats{
    padding-top: 16px;
    padding-left: 25px;
    font-size: 24px;
}

.input{
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input{
    width: 70%;
    height: 30px;
    border-radius: 20px;
    border: none;
    padding-left: 30px;
}

.glass{
    position: relative;
    left:32px;
    top: 6.5px;
    font-size: 18px;
    color: rgb(44, 37, 37);
}

button{
    width: 10%;
    border-radius: 20px;
    border:none;
    background-color: rgb(77, 255, 77);
    color: white;
    font-weight: 700;
    font-size: 25px;
    margin-right: 5px;
}

ul{
    display: flex;
    flex-direction: row;
}

.chat-set{
    backdrop-filter: blur(50px);
    background-color: rgba(66, 128, 128, 0.2);
    border:1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    max-width: 90%;
    margin-left: 13px;
    height: 60px;
}

.user{
    margin-left: 10px;
}

.chat-name{

}